---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const works = await getCollection("work");
  return works.map((work) => ({
    params: { work: work.id },
    props: work,
  }));
}

const work = Astro.props;
const { Content } = await render(work);
---

<h1>{work.data.title}</h1>
<Content />
