---
import BaseLayout from "@layouts/BaseLayout.astro";
import FullScreenScrollTransition from "@components/FullScreenScrollTransition.astro";
import ImageWithText from "@components/ImageWithText.astro";
---

<BaseLayout background="black">
  <FullScreenScrollTransition
    workIds={["keith_dancers", "holiness2", "dragonrain", "scenery"]}
  />

  <div class="gallery-section">
    <ImageWithText workId="holiness" layout="right" />
    <ImageWithText workId="holiness2" layout="left" />
    <ImageWithText workId="relief" layout="right" />
    <ImageWithText workId="count" layout="left" />
    <ImageWithText workId="momentmat" layout="right" />
  </div>

  <!-- {Object.entries(categories).map(([category, workIds]) => (
    <WorkCollection title={category} workIds={workIds} />
  ))} -->
</BaseLayout>

<style>
  .gallery-section {
    margin-top: 10rem;
  }
</style>