---
import BaseLayout from "@layouts/BaseLayout.astro";
import WorkListItem from "@components/WorkListItem.astro";
import Header from "@components/Header.astro";
import { getCollection } from "astro:content";

const works = await getCollection("work", (entry) => {
  return entry.data.year;
}).then(entries => entries.sort((a, b) => b.data.year - a.data.year));
---

<BaseLayout>
  <div class="header">
    <h1>Akira Wakita</h1>
    <Header color="black" />
  </div>

  <ul>
    {works.map(work => (
      <WorkListItem work={work} />
    ))}
  </ul>
</BaseLayout>

<style>
  .header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  h1 {
    padding: 0 2rem;
    margin: 0 0 2rem 0;
    font-weight: normal;
  }

  ul {
    margin: 0 0 10rem 0;
    padding: 0;
  }

  @media (min-width: 851px) {
    ul {
      margin-top: 30dvh;
    }

    .header {
      grid-template-columns: auto 50%;
      gap: var(--grid-gap-medium);
    }
  }

  @media (min-width: 1051px) {
    .header {
      grid-template-columns: auto 50% auto;
    }
  }
</style>