---
import BaseLayout from "@layouts/BaseLayout.astro";
import WorkListItem from "@components/WorkListItem.astro";
import { getCollection } from "astro:content";

const works = await getCollection("work", (entry) => {
  return entry.data.year;
}).then(entries => entries.sort((a, b) => b.data.year - a.data.year));
---

<BaseLayout>
  <h1>Works</h1>
  <ul>
    {works.map(work => (
      <WorkListItem work={work} />
    ))}
  </ul>
</BaseLayout>

<style>
  /* .works-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
  } */

  h1 {
    padding: 0 2rem;
    margin: 0 0 2rem 0;
    font-weight: normal;
  }

  ul {
    margin: 0;
    padding: 0;
  }
</style>