---
interface Props {
  offset: number;
  maxWidth?: number;
}

const { offset, maxWidth = 60 } = Astro.props;

const clampedOffsetX = Math.min(Math.max(offset, -10), 10);
const styles = `--offset-x: ${clampedOffsetX}%; --max-width: ${maxWidth}%`;
---
<div class="floating-container" style={styles}>
  <slot />
</div>

<style>
  .floating-container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0);
    margin-bottom: min(20rem, 30vh);
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  @media (min-width: 768px) {
    .floating-container {
      width: var(--max-width);
      transform: translateX(var(--offset-x));
      padding: 0;
    }
  }
</style> 