---
interface Props {
  offset: number;
}

const { offset } = Astro.props;

const clampedOffsetX = Math.min(Math.max(offset, -45), 45);
const styles = `--offset-x: ${clampedOffsetX}%;`;
---
<div class="floating-container" style={styles}>
  <slot />
</div>

<style>
  .floating-container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0);
    margin-bottom: 10rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  @media (min-width: 769px) {
    .floating-container {
      width: 50%;
      transform: translateX(var(--offset-x));
      padding: 0;
      margin-bottom: 12rem;
    }
  }
</style> 