---
import { Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';

type Props = {
  src: ImageMetadata;
  alt: string;
};

const { src, alt } = Astro.props;
---

<div class="fullscreen-container">
  <div class="image-wrapper">
    <Picture 
      src={src} 
      alt={alt} 
      formats={['avif', 'webp']} 
      widths={[1024, 1920, 2048]}
      sizes="100vw"
      />
  </div>
  <div class="shadow top"></div>
  <div class="shadow bottom"></div>
</div>

<style>
  .fullscreen-container {
    width: 100vw;
    height: 110vh;
    overflow: hidden;
    position: relative;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-wrapper :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .shadow {
    z-index: 4;
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
  }

  .shadow.top {
    top: 0;
    bottom: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.6));
  }

  .shadow.bottom {
    top: auto;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.6));
  }

</style>
