<header>
  <a href="/" class="home">Akira Wakita</a>
  <nav>
    <a href="/works">Works</a>
    <a href="/about">About</a>
  </nav>
</header>

<style>
    a {
      text-decoration: none;
      transition: opacity 0.2s ease-in-out;
      text-transform: uppercase;
    }

    a:hover {
      opacity: 0.7;
    }

    header {
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      /* right: 0; */
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding: 2rem;
      z-index: 1000;
      mix-blend-mode: difference;
    }

    .home {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.04em;
    }

    header nav {
      display: flex;
      justify-content: flex-end; /* Pushes links to the right */
      align-items: center;
      gap: 1.5rem; /* The space between "Works" and "About" */
    }

    header nav a {
      /* color: #525252; */
      font-size: 1rem;
      font-weight: 300; /* Use a bolder weight for clarity, but the thin font-family keeps it elegant */
    }

    @media (max-width: 600px) {
      .home {
        top: 1.5rem;
        left: 1rem;
        font-size: 1.2rem;
      }
      header nav {
        padding: 1.5rem 1rem;
        gap: 1.5rem;
      }
      header nav a {
        font-size: 1rem;
      }
    }
</style>
