---
interface Props {
  color?: 'black' | 'white';
}

const { color = 'black' } = Astro.props;
---

<header>
  <nav>
    <ul class={color === 'white' ? 'white' : ''}>
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/debug">Home(Debug)</a></li> -->
      <li><a href="/works">Works</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s;
  }

  .white nav a {
    color: white;
  }

  nav a:hover {
    opacity: 0.7;
  }
</style>

