---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="text-page">
    <article class="text-content">
      <slot />
    </article>
  </main>
</BaseLayout>

<style is:global>
  .text-page {
    margin: 0 auto;
    padding: clamp(2rem, 6vw, 6rem) var(--page-padding);
    line-height: 1.6;
  }

  .text-content {
    max-width: 800px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    .text-page {
      padding: 0 var(--page-padding);
      padding-bottom: 4rem;
    }
  }
</style>
